<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="./home.component.css">
    
</head>
<body>
     <div class="hero">
      <nav>
          <ul>
              <li><button class="btn" >profile</button></li>
              <li><button class="btn" routerLink='login' routerLinkActive="active">login</button></li>
              <li><button class="btn" routerLink='signup' routerLinkActive="active">register</button></li>
              <li><button class="btn" routerLink='collections' routerLinkActive="active">collections</button></li>
              <li><button class="btn" routerLink='cart' routerLinkActive="active">mycart<sup>5</sup></button></li>
              <li><button class="btn" routerLink='orders' routerLinkActive="active">myorders</button></li>
              <li><button class="btn" *ngIf="loggedIn">logout</button></li>
          </ul>
      </nav>
     </div>
     
     
</body>
</html>