<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my orders</title>
    <link rel="stylesheet" href="./order.component.css">
</head>
<body>
    <div class="hero">
        <nav>
            <ul>
                <li><button class="btn" >profile</button></li>
                <li><button class="btn" routerLink='login' routerLinkActive="active">login</button></li>
                <li><button class="btn" routerLink='signup' routerLinkActive="active">register</button></li>
                <li><button class="btn" routerLink='collections' routerLinkActive="active">collections</button></li>
                <li><button class="btn">mycart</button></li>
                <li><button class="btn">myorders</button></li>
                <li><button class="btn">logout</button></li>
            </ul>
        </nav>
       </div>


       <div class="product-box">
        <div class="image-box">
            <img src="https://www.mensitaly.com/images1/Mens-Cream-Suits.jpg" alt="image">
        </div>
        <div class="details-box">
          <p><strong>product:</strong></p>
          <p><strong>price:</strong></p>
          <p><strong>category:</strong></p>
          <button class="btn">cancel order</button>
        </div>
    </div>
</body>
</html>
