*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
.hero{
    background-color:#f0ede8;
    height:15vh;
    width:100%;
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    position: relative; 
}
.hero nav{
    
    height: 30vh;
    width: 100%;
    position: fixed;  
}
nav ul{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;
}
nav ul li .btn{
    border-radius: 50px;
    background-color: #ce9c9d;
    border-color: #ce9c9d;
    text-decoration: none;
    padding: 3px 10px;
    margin-right:10px ;
}



.product-box
{
  margin-top: 70px;
  margin-left: 100px;
  display: flex;
  height: 200px;
  width: 400px;
  background-color:#f0ede8;
  
  
}
.product-box .image-box
{
  width: 50%;
  height: 100%;
}
.product-box .details-box
{
   height: max-content;
   line-height: 47px;
}
.product-box .details-box .btn
{
   border-radius: 50px;
   font-size: 15px;
   height: 30px;
   width: 150px;
   background-color: #ce9c9d;
   border-color: #ce9c9d;
}

.product-box .image-box img
{
     height:100%;
     margin-left: 10px; 
     
}
hr
{
    margin-top: 30px;
    width: 500px;
    margin-left: 50px;
}
.checkout-box
{
    margin-top: 30px;
    margin-left: 140px ;
    background-color: #ce9c9d; 
    border-color: #ce9c9d;
    border-radius: 50px;
    height: 30px;
    width: 80px;
}